@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font: normal 1.25em 'Open Sans', sans-serif;
    text-align: center;
    background-color: #fbf9f9;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #008234;  
}

#titulo-principal {
    font-size: 1.5em;
    background-color: #008234;
    color: white;
    text-align: center;
}

p {
    font-size: 1.09em;
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    color: #000d6e;
}

